# dependencies
node_modules

# next.js
.next

# production
/build

# misc
.DS_Store

# local env files
.env*.local

# debug
npm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts

# tests
coverage

# backend
.mypy_cache
__pycache__
